body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

textarea{
    width: 50%;
    height: 50%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    resize: none;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}